*{
    box-sizing: border-box;
}
.container{
   width: 80%;
   border: 1px solid #ccc; 
   margin: 0 auto;
   padding: 20px;
}
.container h1{
    text-align: center;
}
#pokemon-list .item{
    display: flex;
    background: #efefef;
    border-radius: 15px;
    margin-bottom: 2px;
    justify-content: space-around;
}
#pokemon-list .item .info{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pokemon-list .item .info p:last-child{
    font-size: 12px;
}
#pokemon-list .item img{
    width: 300px;
}